<div class="sidenav">
    <a href="https://github.com/Tomeriko24/New/blob/04586ae33a786c5e35e10f47ec0263fe231b196e/NavBarPages/home_page.html" class="button" id="home-link">Home page</a>
    <a href="https://github.com/Tomeriko24/New/blob/3ca85aeb95462f9e16898b756a18c7b59f19320e/NavBarPages/project_page.html" class="button">Projects</a>
    <a href="https://github.com/Tomeriko24/New/blob/3ca85aeb95462f9e16898b756a18c7b59f19320e/NavBarPages/consultants.html" class="button">Consultants</a>
    <a href="https://github.com/Tomeriko24/New/blob/25cbcdc9e2669becf99b7da9836da50fabdcb288/NavBarPages/approval_authorities.html" class="button">Approval Authorities</a>
    <a href="https://github.com/Tomeriko24/New/blob/b3ecc49e66d770f7370125e21dd1be792cea3ad8/NavBarPages/permissions.html" class="button">Permissions</a>
    <a href="https://github.com/Tomeriko24/New/blob/25cbcdc9e2669becf99b7da9836da50fabdcb288/NavBarPages/reports.html" class="button">Reports</a>
  </div>
  