<div class="sign-out">
    <button onclick="signOut()" class="button">Sign Out</button>
    <p> Signed in to the system</p>
</div>

<style>
    .sign-out {
        background-color: #00ffff;
        padding: 20px;
        text-align: center;
        border-radius: 110px;
    }

    .button {
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .button:hover {
        background-color: #cc0000;
    }

    .dashboard-button {
        background-color: #007bff;
    }

    .dashboard-button:hover {
        background-color: #0056b3;
    }
</style>